# Build -----------------------------------------------------------------------

### Output and Cache Directories ###
/External/
/Docs/

/build/
/bin/
/out/
bin
obj
/cmake-build-*/

# We want to version DLL as they are sometimes pre-deployed in isart projects
# So we need to ignore everything in deployment folders except DLLs
/Debug/*
/Release/*
/x64/*
!*.dll

# Exclude a bunch of other temporary directories
*/x64
*/Debug/
*/Release/

# Don't forget this or deployed DLLs won't be seen by Git
!/x64/*
!/Debug/*
!/Release/*

.vs

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

# Language --------------------------------------------------------------------

### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.ilk
*.idb
*.pdb
*.ipdb
*.log
*.tlog
*.lastbuildstate
*.recipe
*.vcxproj.FileListAbsolute.txt

# Comment this line if you want to version Wavefront .obj files.
*.obj
*.iobj

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Don't ignore the libs vendored in the application !
!Dependencies/**/*.lib
!Dependencies/**/*.dll
!Dependencies/**/*.so

# Executables
*.exe
*.out
*.app

#unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*